DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=sh20051015
DB_NAME=ai_for_study
FLASK_HOST=0.0.0.0
FLASK_PORT=5000
FLASK_DEBUG=true
ZHIPU_API_KEY=f624ec3a6bf04b3c9c12cec25480f665.TUZiuGKWr3JuEqmj
ZHIPU_MODEL=glm-4.7-flash
